<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-sunmi-printer"
        version="0.6.2">

    <name>SunmiPrinter</name>
    <description>Cordova Sunmi Mobile Bluetooth Printer Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, bluetooth, printer, sunmi</keywords>

    <js-module src="www/printer.js" name="SunmiPrinter">
        <clobbers target="SunmiPrinter" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <framework src="com.android.support:support-v4:+" value="gradle" />

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SunmiPrinter">
                <param name="android-package" value="br.com.ifabrica.sunmi.sunmiPrinter.SunmiPrinter"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>
        <source-file src="src/android/libs/sunmiprinter_v1.8.3.jar" target-dir="libs"  />
        <source-file src="src/android/libs/zxing_3.2.0.jar" target-dir="libs"  />
        <!--        <source-file src="src/android/libs/core-3.3.0.jar" target-dir="libs"  />
        <source-file src="src/android/aidl/com/sunmi/trans/TransBean.aidl" target-dir="br/com/ifabrica/sunmi/sunmiprinter"  />
        <source-file src="src/android/aidl/com/woyou/aidlservice/jiuiv5/ICallback.aidl" target-dir="br/com/ifabrica/sunmi/sunmiprinter" />
        <source-file src="src/android/aidl/com/woyou/aidlservice/jiuiv5/IWoyouService.aidl" target-dir="br/com/ifabrica/sunmi/sunmiprinter"  />
        <source-file src="src/android/java/com/sunmi/printerhelper/utils/AidlUtil.java" target-dir="br/com/ifabrica/sunmi/sunmiprinter" />-->
        <source-file src="src/android/java/SunmiPrinter.java" target-dir="br/com/ifabrica/sunmi/sunmiprinter" />
        <source-file src="src/android/java/ThreadPoolManager.java" target-dir="br/com/ifabrica/sunmi/sunmiprinter" />

        <source-file src="src/android/res/values-pt/strings.xml" target-dir="res/values-pt"/>

        <config-file target="res/values/strings.xml" parent="/resources">
            <string name="connecting">Connecting...</string>
        </config-file>
    </platform>
</plugin>
